.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: black;
}

body
{
    background-size: cover;
}

canvas
{
    border: 9px;
    box-shadow: 1px, 1px, 1px, grey;
}